/* ABOUT PAGE (SECTION TWO) */

#about {
    margin-top: 3rem;
    padding: 5rem 0;
}
.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 3rem;
}

.about-1 {
    padding: 1rem 5rem 1rem 0;
    
}

.about-2 {
    padding: 1rem 5rem 1rem 0; 
}

.about-1 h3,
.about-2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
}

.about-1 p, 
.about-2 p {
   color: gray;
   font-size: 16px;
   margin: 1.5rem 0;
}

.about-btn {
    background: var(--info);
    color: var(--white);
    transition: var(--transition);
}

.about-btn:hover {
    border: 2px solid var(--info);
    background: transparent;
    color: var(--info);
}

/* ANIMATION ON ABOUT PAGE */
.about-1 {
    transform: translateX(-45rem);
    animation: card1 1s forwards ease-in;
    transition: var(--transition);
}

.about-img-1 {
    transform: translateX(45rem);
    animation: card1 1s forwards ease-in;
    transition: var(--transition);
}

.about-img-2 {
    transform: translateX(-45rem);
    transition: var(--transition);
    animation: card1 1s forwards ease-in;
}

.about-2 {
    transform: translateX(45rem);
    transition: var(--transition);
    animation: card1 1s forwards ease-in;
}

@keyframes card1 {
    to{
        transform: translateX(0);
    }
    
}
/* ANIMATION ENDS */