/* DEFAULT STYLING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
}

:root {
    --primary: #000637;
    --secondary: #bbbbf2;
    --success: #5ed6b3;
    --info: #1998ff;
    --warning: #ffad00;
    --danger: #ff0000;
    --light: #fc7341;
    --dark: #221e1e;
    --white: #fff;
    --transition: all 400ms ease;
    --container-width-lg: 80%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
    --hero-background: #f7f8fa;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--white);
    line-height: 1.7rem;
}

h1,
h2,
h3,
h4,
h5{
  font-weight: 500;
}

section {
    margin-top: 8rem;
} 


.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

.btn {
    border: 2px solid transparent;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
}

/* HEADING STYLING (NAVBAR) */

header {
    background-color: var(--hero-background);
}

.nav-bar {
    display: flex;
    gap: 20rem;
    align-items: center;
    padding: 1.5rem 0;
    justify-content: space-between;
} 

.list {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav-bar .list {
    display: flex;
    flex-direction: row;
    align-items: center; 
    width: 100%;
    padding: 0 0.5rem;
}

#navbar {
    background-color: var(--hero-background);
    position: fixed;
    z-index: 1000;
    width: 100%;
}

#navbar .sticky {
    background: var(--white);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.nav-bar-button {
    flex-shrink: 0;
    margin-left: 10rem;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: var(--info);
    color: var(--white);
    /* position: relative; */
}

.nav-bar .btn:hover {
    background: transparent;
    border: 2px solid var(--info);
    color: var(--dark);
}

.nav-bar .nav-bar-list {
    display: flex;
    align-items: center; 
    width: 100%;
    padding: 0 0.5rem;
}  

.nav-bar-list .list li {
    font-size: 16px;
}
/* .mobile-list{
  display: none;
} */

li a{
    color: var(--dark);
    transition: var(--transition);
}

.nav-bar li a:hover {
    color: red;
}

.dropdown {
    /* font-size: 20px; */
    cursor: pointer;
    display: none;
}

.dropdown .cancel-btn {
    position: absolute;
    left: 30px;
    top: 20px;
}

.dropdown .hambudger-btn a {
    font-size: 30px;
}

/* #navbar .sticky .dropdown .cancel-btn {
    top: 10px;
} */

/* HEADING STYLING (CONTACT US FORM) */
#contactFormContainer {
    width: 30%;
    background-color: var(--white);
    margin: auto;
    display: none;
    position: absolute;
    right: 4%;
    top: 80%;
}

#contactFormContainer h2 {
    text-align: center;
    padding: 10px;
}

form {
    padding: 20px;
}

#contactFormContainer input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 3px;
    padding-left: 5px;
    background-color: var(--hero-background);
}

textarea {
    width: 100%;
    height: 40px;
    padding-left: 5px; 
    border: none;
    background-color: var(--hero-background);
}

::placeholder {
    font-size: 12px;
    padding: 10px;
}

.contactUsButton {
    gap: 2rem;
    justify-content: space-between;
}


/* HERO PART (HOME PAGE) */

#hero{
    padding-top: 8rem;
    background-color: #f7f8fa;
    height: 100vh;
  
}
  
.hero-container {
text-align: center;
}
  
.hero-container h1 {
font-weight: 600;
font-size: 40px;
line-height: 1.2;
}

.hero_button {
margin-top: 1rem;
display: flex;
gap: 1rem;
justify-content: center;
}
  
.green-btn {
background: #b7ebdd;
color: var(--light);
transition: var(--transition);
}

.green-btn:hover {
background: transparent;
border: 2px solid var(--light);
color: var(--success);
}

.red-btn {
background:#fec4af ;
color:var(--success);
transition: var(--transition);
}

.red-btn:hover {
background: transparent;
color: var(--light);
border: 2px solid var(--success);
}

/* SERVICE PAGE (SECTION ONE) */

#services{
    margin-top: 2rem;
    background-color: white;
    padding: 5rem 0 0  0;
}

.service-heading {
    text-align: center;
}

.service-container h2 {
   font-size: 35px;
   font-weight: 600;
} 

.service-container p {
    color: gray;
}
.service-rows {
    margin-top: 2rem;
    display: flex;
    gap: 4rem; 
}

.service-row {
    padding: 2rem 3rem 2rem 0 ; 
}
.service-row h3 {
    margin-bottom: 1.5rem;
}
.service-row p {
    font-size: 13px;
}
.service-row a {
    color: rgb(197, 167, 167);
    font-size: 12px;
    margin-top: 1.5rem;
}


/* ABOUT PAGE (SECTION TWO) */

#about {
    margin-top: 3rem;
    padding: 5rem 0;
}
.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 3rem;
}

.about-1 {
    padding: 1rem 5rem 1rem 0;
    
}

.about-2 {
    padding: 1rem 5rem 1rem 0; 
}

.about-1 h3,
.about-2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
}

.about-1 p, 
.about-2 p {
   color: gray;
   font-size: 16px;
   margin: 1.5rem 0;
}

.about-btn {
    background: var(--info);
    color: var(--white);
    transition: var(--transition);
}

.about-btn:hover {
    border: 2px solid var(--info);
    background: transparent;
    color: var(--info);
}

/* ANIMATION ON ABOUT PAGE */
.about-1 {
    transform: translateX(-45rem);
    animation: card1 1s forwards ease-in;
    transition: var(--transition);
}

.about-img-1 {
    transform: translateX(45rem);
    animation: card1 1s forwards ease-in;
    transition: var(--transition);
}

.about-img-2 {
    transform: translateX(-45rem);
    transition: var(--transition);
    animation: card1 1s forwards ease-in;
}

.about-2 {
    transform: translateX(45rem);
    transition: var(--transition);
    animation: card1 1s forwards ease-in;
}

@keyframes card1 {
    to{
        transform: translateX(0);
    }
    
}
/* ANIMATION ENDS */


/* OUR STUDIES PAGE (SECTION THREE) */

#studies {
    margin-top: 4rem;
} 

.study-header {
    text-align: center;
}

.study-header h2 {
    font-size: 35px;
    font-weight: 500;
}

.study-header p {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.study-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.study-box {
    position: relative;
    transition: var(--transition);
}

.study-box:hover {
    color: rgba(0, 51, 204, 0.8);
}
  
.hover-effect {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 4.5rem;
    background-color: rgba(0, 51, 204, 0.8);
    transition: all 0.8s ease-in-out;
    color: white;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hover-effect h6 {
    font-size: 14px;
}

.study-box:hover .hover-effect {
    opacity: 1;
}

.center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn-white {
    padding: 6px 14px;
    font-size: 12px;
    border-radius: 3px;
}

.study-box h3 {
    text-align: center;
}

.study-box h3:hover {
    color: rgba(0, 51, 204, 0.8);
}

.study-box p {
    text-align: center;
    color: gray;
    font-size: 14px;
}

.study-box:hover p {
    color: rgba(0, 51, 204, 0.8);
}

.study-box p:hover {
    color: rgba(0, 51, 204, 0.8);
} 

.study-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 260px;
    text-align: center;
    padding: 2rem;
    background-color: blue;
    margin-bottom: 1rem;
    border-radius: 2px;
}

.color-blue {
    background: var(--primary);
}

.color-orange {
    background-color: var(--success);
}

.color-lilac {
    background-color: var(--secondary);
}

.color-green {
    background-color: var(--warning);
}


/* TESTIMONIAL PAGE (SECTION FOUR) */

#testimonials {
    margin-top: 3rem;
    padding: 5rem 0 0 0;
}

.profile {
    text-align: center;
}

.testimonial-container h3 {
    font-weight: 500;
    font-size: 35px;
    line-height: 1.2;
}

.carousel {
    width: 80%;
    max-width: 1000px;
    position: relative;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    gap: 20px;
}

.carousel-item {
    flex: 0 0 calc(33.3333% - 20px);
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.testimonial-container h3 {
    font-weight: 500;
    font-size: 35px;
    line-height: 1.2;
}

.testimonial-cards {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.cards {
    background: #f3f7fb;
    padding: 2rem;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.25);
    transition: var(--transition);
}

.cards img {
    border-radius: 50%;
    transition: var(--transition);
    padding: 1rem;
}

.cards:hover {
    background-color: #e4e7ea;
    transform: scale(1.02);
}

.cards:hover img {
    transform: scale(1.2);
}

.cards p {
    font-size: 15px;
    color: gray;
}

.name {
    font-size: 18px;
    font-weight: 500;
}

.title {
    font-size: 17px;
    font-weight: 400;
    color: gray;
}

.underline-black,
.underline-red {
    width: 5rem;
    height: 0.25rem;
    margin: 0.5rem auto;
}

.underline-black {
    background: var(--dark);
}

.underline-red {
    background: var(--danger);
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.indicator {
    height: 10px;
    width: 10px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.indicator.active {
    background-color: red;
} 


/* CONTACT PAGE (SECTION FIVE) */

#contact {
    margin-top: 4rem;
}

.contact-btn {
    border-radius: 2.5rem;
    border: 2px solid var(--danger);
    background-color: var(--white);
    color: var(--danger);
    margin-top: 2rem;
    transition: var(--transition);
}

.contact-btn:hover {
    background: var(--danger);
    color: var(--white);
}

.contact-container {
    background: url('./gdpr.jpg');
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    padding: 83px 0px 68px 0px;
}

.text {
    text-align: center;
}

.contact h2 {
    transform: translateY(-5rem);
    transition: var(--transition);
    animation: card2 1s forwards ease-in;
    opacity: 0;
}

.contact-btn {
    transform: translateY(5rem);
    transition: var(--transition);
    animation: card2 1s forwards ease-in;
    opacity: 0;
    text-align: center;
}

@keyframes card2 {
    to {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
    
}


/* FOOTER PART (SECTION SIX) */

#footer {
    margin-top: 4rem;
}

.main-footer {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px, 1fr));
    gap: 2.2rem;
    margin-bottom: 6rem;
}

.footer-text {
    font-size: 0.9rem;
    color: gray;
}

.footer h5 {
    font-size: 20px;
}

.footer-links li {
    padding: 0.4rem 0;
}

.footer-links li:hover {
   color: var(--danger);
   cursor: pointer;
}

.footer-underline {
    width: 100%;
    height: 0.1px;
    background: gray;
       
}

.footer form input {
    background: #f6f7fb;
    border: none;
    width: 100%;
    height: 2.2rem;
    border-radius: 2px;
    padding: 0 0.5rem;
}

.footer-btn {
    background: var(--dark);
    color: var(--white);
    transition: var(--transition);
}

.footer-btn:hover {
    border: 2px solid var(--dark);
    background: transparent;
    color: var(--dark);
}

.footer .socials i {
    border: 0.2px solid #808080;
    border-radius: 50%;
    margin-top: 5px;
    padding: 8px;
    transition: var(--transition);
}

.footer .socials i:hover {
    cursor: pointer;
    color: var(--white);
    background-color: #e0e0e0;
    transform: scale(1.05);
}

.copy-right {
    text-align: center;
    margin-bottom: 20px;
    padding: 2rem 0;
} 









/* MEDIA QUERY (NAVBAR) */

@media screen and (max-width:900px) {
    body.disabledScroll {
        overflow: hidden;
    }
        
    .container {
        width: var(--contaner-width-md);
    } 
    
    section {
        margin-top: 6rem;
        margin-bottom: 2rem;
    }
    
    .nav-bar .list {
        display: none;
        flex-direction: column;
        background-color: var(--white);
        width: 50%;
        position: absolute;
        top: 50px;
        left: 15px;
        padding: 1rem 0;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .nav-bar .list.active {
        display: flex;
    }

    .hambudger-btn {
        display: block;
        position: absolute;
        right: 40px;
    }

    .hambudger-btn .hide {
        display: none;
    }

    .hambudger-btn .show {
        display: block;
    }
    
    .dropdown.cancel-btn {
        display: none;
        position: absolute;
        right: 40px;
        top: 15px;
    }

    .dropdown.cancel-btn.show {
        display: block;
        position: absolute;
        top: 10px;
    }

    .nav-bar li {
        margin-top: 10px;
    }

    .nav-bar .nav-bar-button {
        margin-top: 0;
        margin-right: 40px;
        display: block;
    } 

    .dropdown {
        display: block;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
    } 
    
    .dropdown.hide {
       display: none;
    } 

    .service-container {
        width: var(--container-width-md);
      }
    
    .service-rows {
      margin-top: 0rem;
    }

    .about-container {
        width: var(--container-width-md);
      }
    
    .about-container {
      grid-template-columns: 1fr;
    }

    #about {
      margin-top: 1rem;
      padding: 5rem 0;
    } 

    .about-1,
    .about-2 {
      padding: 0; 
    }
    
    .main-footer {
        gap: 2.2rem;
        margin-bottom: 4rem;
    }  
    
}


@media screen and (max-width:600px) {
    .container {
        width: var(--container-width-sm);
    }

    .hero-container img{
        width: 300px;
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
  
   .dropdown.hambudger-btn {
        position: absolute;
        right: 40px;
    }
    
    .nav-bar .nav-bar-button {
        display: block;
        width: 100%;
        margin-top: 20px;
    }

    /* HEADING STYLING (NAVBAR) */

    /* header {
        background-color: var(--hero-background);
    }

    .nav-bar {
        display: flex;
        gap: 20rem;
        align-items: center;
        padding: 1.5rem 0;
        justify-content: space-between;
    }

    .list {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    
    .nav-bar .list {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 0 0.5rem;
    }

    #navbar {
        background-color: var(--hero-background);
        position: fixed;
        z-index: 1000;
        width: 100%;
    }
    
    #navbar .sticky {
        background: var(--white);
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    }

    .nav-bar-button {
        flex-shrink: 0;
        margin-left: auto;
        padding-top: 7px;
        padding-bottom: 7px;
        background-color: var(--info);
        color: var(--white);
    }

    .nav-bar .btn:hover {
        background: transparent;
        border: 2px solid var(--info);
        color: var(--dark);
    }
    
    .nav-bar .nav-bar-list {
        display: flex;
        align-items: center; 
        width: 100%;
        padding: 0 0.5rem;
    }

    .nav-bar-list .list li {
        font-size: 16px;
    }
    
    li a {
        color: var(--dark);
        transition: var(--transition);
    }
    
    .nav-bar li a:hover {
        color: red;
    }

    .dropdown .hambudger-btn a {
        font-size: 30px;
    } */


    /* HERO-PAGE STYLING */
    .hero-page img{
        width: 300px;
    }

    .services-container {
        width: var(--container-width-sm);
    }

    .service-rows {
        flex-direction: column;
        gap: 0;
  
    }

    .service-row {
        padding-top: 1rem;
      }
    
    section {
        margin-bottom: 1rem;
    
    }

    .about-container {
        width: var(--container-width-sm);
    }
  
    
    #about {
        margin-top: 0rem;
        padding: 3rem 0;
    }

    .about-1,
    .about-2 {
        padding: 0;   
    }
      
    .about-img-1,
    .about-img-2 {
        display: none;
    }

    .main-footer {
        margin-bottom: 2rem;
    }

    .footer {
        text-align: center;
    }
    .list{
        display: none;
    }
    
    .mobile-list{
        display: flex;
        flex-direction: column;
    }

} 

