/* DEFAULT STYLING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
}

:root {
    --primary: #000637;
    --secondary: #bbbbf2;
    --success: #5ed6b3;
    --info: #1998ff;
    --warning: #ffad00;
    --danger: #ff0000;
    --light: #fc7341;
    --dark: #221e1e;
    --white: #fff;
    --transition: all 400ms ease;
    --container-width-lg: 80%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
    --hero-background: #f7f8fa;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--white);
    line-height: 1.7rem;
}

h1,
h2,
h3,
h4,
h5{
  font-weight: 500;
}

section {
    margin-top: 8rem;
} 


.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

.btn {
    border: 2px solid transparent;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
}


