/* HERO PART (HOME PAGE) */

#hero{
    padding-top: 8rem;
    background-color: #f7f8fa;
    height: 100vh;
  
}
  
.hero-container {
text-align: center;
}
  
.hero-container h1 {
font-weight: 600;
font-size: 40px;
line-height: 1.2;
}

.hero_button {
margin-top: 1rem;
display: flex;
gap: 1rem;
justify-content: center;
}
  
.green-btn {
background: #b7ebdd;
color: var(--light);
transition: var(--transition);
}

.green-btn:hover {
background: transparent;
border: 2px solid var(--light);
color: var(--success);
}

.red-btn {
background:#fec4af ;
color:var(--success);
transition: var(--transition);
}

.red-btn:hover {
background: transparent;
color: var(--light);
border: 2px solid var(--success);
}