@media screen and (max-width:600px) {
    .container {
        width: var(--container-width-sm);
    }

    .hero-container img{
        width: 300px;
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
  
   .dropdown.hambudger-btn {
        position: absolute;
        right: 40px;
    }
    
    .nav-bar .nav-bar-button {
        display: block;
        width: 100%;
        margin-top: 20px;
    }


    /* HERO-PAGE STYLING */
    .hero-page img{
        width: 300px;
    }

    .services-container {
        width: var(--container-width-sm);
    }

    .service-rows {
        flex-direction: column;
        gap: 0;
  
    }

    .service-row {
        padding-top: 1rem;
      }
    
    section {
        margin-bottom: 1rem;
    
    }

    .about-container {
        width: var(--container-width-sm);
    }
  
    
    #about {
        margin-top: 0rem;
        padding: 3rem 0;
    }

    .about-1,
    .about-2 {
        padding: 0;   
    }
      
    .about-img-1,
    .about-img-2 {
        display: none;
    }

    .main-footer {
        margin-bottom: 2rem;
    }

    .footer {
        text-align: center;
    }
    .list{
        display: none;
    }
    
    .mobile-list{
        display: flex;
        flex-direction: column;
    }

} 

